<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div>
            
        </div>

        <div v-if="warrior != '' || wizard != '' " class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}">
                    </div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}">
                    </div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>

        <div v-if="hasResult" class="panel result" >
           <div v-if="monsterLife == 0" class="win">Vitória</div>
           <div v-else class="lose">Derrota</div>
        </div>

        <div v-if="warrior == '' && wizard == '' " class="panel class-text">
            <p>Escolha sua classe</p>
        </div>
        
        <div class="panel bottons">
            <button 
                v-if="warrior == '' && wizard == '' " 
                class="btn warrior" 
                @click="getWarrior">
                Guerreiro
            </button>
            <button 
                v-if="warrior == '' && wizard == '' " 
                class="btn wizard" 
                @click="getWizard">
                Mago
            </button>
            <div class="warrior-attacks" v-if="warrior != '' ">
                <button class="btn attack" @click="warriorAttack()">Ataque</button>
                <button class="btn kick">Chute</button>
                <button class="btn fury">Furia</button>
            </div>
            <div class="wizard-attacks" v-if="wizard != '' ">
                <button class="btn fire">Bola de Fogo</button>
                <button class="btn mana">Carregar Mana</button>
                <button class="btn heal">Curar</button>
            </div>
        </div>

        <div v-if="warrior != '' || wizard != '' " class="panel logs">

        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>