<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        
        <div v-if="warrior != '' || wizard != '' " class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}">
                    </div>
                </div>
                <div>{{ playerLife }}%</div>
                <div v-if="warrior != '' " class="fury-bar">
                    <div class="fury"
                        :style="{width: furyBar + '%'}">
                    </div>
                </div>
                <div v-if="warrior != '' " class="texto">Furia</div>
                <div v-if="wizard != '' " class="mana-bar">
                    <div class="mana"
                        :style="{width: manaBar + '%'}">
                    </div>
                </div>
                <div v-if="wizard != '' " class="texto">Mana</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}">
                    </div>
                </div>
                <div>{{ monsterLife }}%</div>
                <div v-if="wizard != '' || warrior != '' " class="angry-bar">
                    <div class="angry"
                        :style="{width: angryBar + '%'}">
                    </div>
                </div>
            </div>
        </div>

        <div v-if="hasResult" class="panel result" >
           <div v-if="monsterLife == 0" class="win">Vitória</div>
           <div v-else class="lose">Derrota</div>
        </div>

        <div v-if="warrior == '' && wizard == '' " class="panel class-text">
            <p>Escolha sua classe</p>
        </div>
        
        <div v-if="playerLife != 0 && monsterLife != 0 " class="panel bottons">
            <button 
                v-if="warrior == '' && wizard == '' " 
                class="btn warrior" 
                @click="getWarrior">
                Guerreiro
            </button>
            <button 
                v-if="warrior == '' && wizard == '' " 
                class="btn wizard" 
                @click="getWizard">
                Mago
            </button>
            <div v-if="warrior != '' " class="warrior-attacks">
                <button class="btn attack" @click="warriorAttack(); monsterAttack(); setAnger()">Ataque</button>
                <button v-if="stuned != 1" class="btn kick" @click="warriorKick(); monsterAttack(); setAnger()">Chute</button>
                <button v-if="furyBar == 100" class="btn fury" @click="warriorFury(); monsterAttack(); setAnger()">Furia</button>
            </div>
            <div v-if="wizard != '' " class="wizard-attacks">
                <button v-if="manaBar != 0" class="btn fire" @click="wizardFire(); monsterAttack(); setAnger()">Bola de Fogo</button>
                <button @click="wizardMana(); monsterAttack(); setAnger()" class="btn mana">Carregar Mana</button>
                <button v-if="playerLife != 100 && manaBar >= 50" 
                        class="btn heal" 
                        @click="wizardHeal(); monsterAttack(); setAnger()">
                        Curar
                </button>
            </div>
        </div>

        <div v-if="warrior != '' || wizard != '' " class="panel logs">

        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>